
<br/><br>
<footer>
        <nav class="centerText">
                <a href="/">   HOME   </a>
        </nav>
        <img class="centerIMG" src="/img/csumb.png" alt="csumb" />
        <!--<div class="footer" > -->
        <h4 class="centerText">Kyle Dilbeck's Personal Portfolio and Resume CSUMB Software Engineering 2019 &copy;</h4>
        <!--</div>-->
        <% include partials/clock.ejs %>
        
</footer>

</body>

</html>