<!DOCTYPE html>
<html>
    <head>
        <title>Kyle Dilbeck Lab 6 Solar System</title>
     
      <meta charset="utf-8">
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
       
    
      <link href="css/styles.css" rel="stylesheet" type="text/css" />
      <!--<script SRC='js/functions.js'></script>   -->
    </head>
    
    <body>
        <p>Click on a planet to learn more!</p>
        <nav>
            <a href="/">   HOME   </a><br>
            <a href="/mercury"> Mercury</a><br>
            <a href="/jupiter">   Jupiter  </a><br>
            <a href="/mars">   Mars  </a><br>
            <a href="/saturn">   Saturn  </a><br>
            <a href="/venus">   Venus  </a><br>
            
        </nav>
        
        <!--<h6 id="nina"> NINAAAAAAAA</h6>-->
            
                        <br/><br/>