<!DOCTYPE html>
<html>
    <head>
        <title>Kyle Dilbeck Personal Web Page</title>
     
      <meta charset="utf-8">
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
       
    
      <link href="css/styles.css" rel="stylesheet" type="text/css" />
      <!--<script SRC='js/functions.js'></script>   -->
      
    </head>
    
    <body>
        <h5 class="centerText"> Navigation Tabs :: Click on a tab to learn more</h5>
        <nav background="img/img.png" width="400">
            <a href="/">   HOME   </a>
            <a href="/experience"> Programming Experience</a>
            <a href="/contact"> Contact & Networking  </a>
            <a href="/resume"> Resume </a>
            <a href="/me"> About Me </a>
            <a href="/education"> Education </a>
            
        </nav>
        <marquee><h4>Welcome to Kyle's Website, Please click on any of the links above to learn more! Created during CSUMB CS progam 2019 __________________ Thank you for visiting! ___________________ See Networking Links for Contact Info!______  </h4></marquee>
        
        
            
                        <br/><br/>