<% include partials/head.ejs %>

        <h1 class="centerText">Coding Experience</h1>
            <br/><br/>
        <img src="/img/spectra_mercury.png" alt="mercury" width="100" />

        
        
        <br  /><br />
        <div id="content">
            <table>
                <tr id="table-header">
                    <td><strong>Programming Language</strong></td>
                    <td><strong>Years Experience</strong></td>
                </tr>
                
                <tr class="table-row">
                    <td>Java</td>
                    <td>3</td>
                </tr>
                <tr class="table-row">
                    <td>C++</td>
                    <td>5</td>
                </tr>
                <tr class="table-row" >
                    <td>Python</td>
                    <td>4</td>
                </tr>
                <tr class="table-row" >
                    <td>HTML</td>
                    <td>1</td>
                </tr>
                <tr class="table-row" >
                    <td>CSS</td>
                    <td>1</td>
                </tr>
                <tr class="table-row" >
                    <td>JavaScript</td>
                    <td>1</td>
            </table>
            <br />
        </ul>
    
<% include partials/footer.ejs %>
