<% include partials/head.ejs %>

        <h1 class="centerText">Coding Experience</h1>
            <br/><br/>
        <img src="/img/spectra_mercury.png" alt="mercury" width="100" />
        <ul id="fill1" style="list-style-type:circle;">
                <h3 class"centerText">Languages</h3>
                    <li>HTML 5</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>BootStap</li>
                    <li>node.js</li>
                
                <h3 class"centerText">Dependencies</h3>
                    <li>Express</li>
                    <li>Nodemon</li>
                    <li>ejs</li>
                
        </ul>
        
        
        <br  /><br />
        <div id="content">
            <table>
                <tr id="table-header">
                    <td><strong>Programming Language</strong></td>
                    <td><strong>Years Experience</strong></td>
                </tr>
                
                <tr class="table-row">
                    <td>Java</td>
                    <td>3</td>
                </tr>
                <tr class="table-row">
                    <td>C++</td>
                    <td>3</td>
                </tr>
                <tr class="table-row" >
                    <td>Python</td>
                    <td>4</td>
                </tr>
                <tr class="table-row" >
                    <td>HTML</td>
                    <td>1</td>
                </tr>
                <tr class="table-row" >
                    <td>CSS</td>
                    <td>1</td>
                </tr>
                <tr class="table-row" >
                    <td>JavaScript</td>
                    <td>1</td>
            </table>
            <br />
    
<% include partials/footer.ejs %>
