<% include partials/head.ejs %>
        <h1 class="centerText"> Welcome to Kyle's Home page </h1>
        <p>cite is currently<strong>under construction</strong> </p>
        
        <h3 class="centerText">Info:</h3>
        <p></p>
        
        <img class="centerIMG" src="/img/img.png" width="300" alt="coors brewry Denver, CO"/>
            
        
<% include partials/footer.ejs %>