<% include partials/head.ejs %>

        <h1> Welcome to Jupiter's page!</h1>
            <br/><br/>
        <img src="/img/jupiter.png" alt="jupiter" />
        
        <ul class="move">
            <li>Is the fastest spinning planet in the solar system</li>
            <li>The great red spot is a long lasting hurricane</li>
            <li>Has rings</li>
            <li>Magnetic field is 14x stronger than earths </li>
            <li>has 67 moons</li>
            <li>known to be the largest planet in our system</li>
        </ul>
        
        <p class="move2">  </p>

    
<% include partials/footer.ejs %>
