<% include partials/head.ejs %>

        <h1> Welcome to Mercury page!</h1>
            <br/><br/>
        <img src="/img/spectra_mercury.png" alt="mercury" />

    
<% include partials/footer.ejs %>
