<% include partials/head.ejs %>

        <h1> Welcome to Saturn page!</h1>
            <br/><br/>
        <img src="/img/saturn.png" alt="saturn" />
        <p>Saturn is the sixth planet from the Sun and second largest planet of the Solar System in terms of diameter and mass. If compared, it is easy to see why Saturn and Jupiter have been designated as relatives. From atmospheric composition to rotation, these two planets are extremely similar. Because of these factors, Saturn was named after the father of the god Jupiter in Roman mythology.</p>
        <ul class="move">
            <li>6th planet from the sun </li>
            <li>one of 5 planets able to eb seen by the naked eye</li>
            <li>Most commonly nicknamed after its rings</li>
            <li>Generates more energy than it receives from the sun</li>
            <li>it takes 29.4 earth years for saturn to orbit the sun</li>
            <li>Has the fastest winds out of any other planet in the solar system</li>
        </ul>
        
        <p class="move2">It is difficult to reach the planet due to its proximity to the Sun and any spacecraft visiting would need to travel 91 million kilometers into the Sun’s gravitational potential well. The Mariner 10 visited during 1974-75, flying by Mercury three times and mapping half its surface. On March 24, 1975 it ran out of fuel and is still believed to be orbiting the Sun. The MESSENGER probe was launched in 2004 to explore Mercury’s high density, its geological history, the nature of its magnetic field and more. Another mission, BepiColombo, is to be launched in 2015 by the European Space Agency and Japan is expected to reach Mercury in 2019.</p>

    
<% include partials/footer.ejs %>
