<% include partials/head.ejs %>

 <h1> Welcome to Venus page!</h1>
            <br/><br/>
        <img src="/img/venus.png" alt="mercury" />
            
        
   
<% include partials/footer.ejs %>
